<div class="container">
  <center>
    <div class="col-12">
      <h1> Your Clients </h1>
      <table class="table  table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Client Name</th>
            <th>Nutritionist Name</th>
            <th>Download PDF</th>
          </tr>
        </thead>
        <tbody>
          <% @diets.each do |diet| %>
            <tr>
              <td><%= diet.name %></td>
              <td><%= diet.nutritionist_name %></td>
              <td>
                <%= link_to "Download", home_path(diet.id, format: :pdf), target: '_blank' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </center>  
<div>